<section>
	
	<h3>About Myself</h3>

	<div class="face-lockup">
		
		<div class="face-image"></div>

		<div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
		<div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
		<div class="icon-browser">{% include icons/icon-browser.html %}</div>
		<div class="icon-video">{% include icons/icon-video.html %}</div>

	</div>

	<div class="blurb">
		<p><strong>Irony keffiyeh DIY sartorial forage, leggings ennui neutra.</strong>Brooklyn poutine humblebrag blog hoodie. Art party mustache twee health goth, chartreuse man braid 3 wolf moon hashtag 90's chillwave DIY. Fashion axe pour-over tofu, selfies bespoke slow-carb DIY knausgaard wayfarers banh mi waistcoat before they sold out meggings iPhone. Chia post-ironic polaroid put a bird on it locavore, schlitz umami banh mi tumblr sriracha PBR&B. Cronut readymade food truck, sartorial roof party DIY selfies lo-fi pork belly farm-to-table cornhole XOXO. 8-bit 3 wolf moon shoreditch pork belly kinfolk.</p>
	</div>
	
	<div class="skill-lockup"></div>

</section>